/* Print overrides */
@media print {
	.fadeInUp, .zoomIn {
		animation: none !important;
	}

	#webslides-zoomed {
		display: none;
	}

	.wrap > :last-child {
		margin-bottom: 6px;
	}

	.no-print {
		display: none !important;
	}
}